 body{
    max-height: 100%;
 }


 .displaywrap{
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        
    }
    .case{
        width: 13%;
        
        background-color: lightblue;
        border: solid black 1px;
        padding: 0.5%;
    }

    
    .casei{
        width: 13%;
        
        border: solid black 1px;
        opacity: 0;
        padding: 0.5%;
    }


    .casej{
        width: 13%;
        z-index: 1;
        background-color: lightblue;
        border: solid black 1px;
        padding: 0.5%;
        opacity: 1;
        display: block;


    }
    .popup{
        background-color: lightblue;
        border: solid black 1px;
        width: 600px;      
        height: 400px;
        margin-top: -150px;
        margin-left: 200px; 
        opacity: 0;
        position: relative;
    }

    .casem{
        
       display: none;
      
    }

    
